.inputContainer {
	width: 200px;
	position: relative;
	margin-bottom: 14px;
}
.inputContainer label {
	position: absolute;
	top: 0px;
	display: block;
	font-family: 'Roboto-Regular';
	font-size: 14px;
	font-weight: 500;
	color: #7986cb;
}
.inputContainer input {
	width: 100%;
	font-family: 'Roboto-Regular';
	display: inline-block;
	color: #fff;
	font-size: 16px;
	padding: 6px;
	box-sizing: border-box;
	background-color: #7986cb;
	border: none;
	outline: none;
	border-radius: 2px;
	transition: background-color 0.5s ease;
	margin-top: 18px;
}
.inputContainer input:focus {
	background-color: #5c6bc0;
}

input:focus + label {
	color: #3f51b5;
}
