.buttonContainer {
	position: relative;
}
.buttonContainer button {
	display: inline-block;
	position: relative;
	cursor: pointer;
	min-height: 36px;
	min-width: 88px;
	line-height: 36px;
	vertical-align: middle;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	text-align: center;
	border-radius: 2px;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: none;
	border: 0;
	padding: 0 6px;
	margin: 6px 0;
	background: transparent;
	color: currentColor;
	white-space: nowrap;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
	font-family: 'Roboto-Bold';
	text-decoration: none;
	overflow: hidden;
	-webkit-transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.buttonContainer button.raised {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	color: rgba(255, 255, 255, 0.87);
	background-color: #3f51b5;
}
.buttonContainer button.raised:hover {
	background-color: #5c6bc0;
}

.buttonContainer button.flat {
	color: #3f51b5;
}
.buttonContainer button.flat:hover {
	background-color: rgba(158, 158, 158, 0.2);
}
