/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@font-face {
	font-family: 'Roboto-Bold';
	src: font-url('Roboto/Roboto-Bold.eot');
	src: font-url('Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'), font-url('Roboto/Roboto-Bold.woff2') format('woff2'),
		font-url('Roboto/Roboto-Bold.woff') format('woff'), font-url('Roboto/Roboto-Bold.ttf') format('truetype'),
		font-url('Roboto/Roboto-Bold.svg#Roboto-Bold') format('svg');
}

@font-face {
	font-family: 'Roboto-Regular';
	src: font-url('Roboto/Roboto-Regular.eot');
	src: font-url('Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), font-url('Roboto/Roboto-Regular.woff2') format('woff2'),
		font-url('Roboto/Roboto-Regular.woff') format('woff'), font-url('Roboto/Roboto-Regular.ttf') format('truetype'),
		font-url('Roboto/Roboto-Regular.svg#Roboto-Regular') format('svg');
}

@font-face {
	font-family: 'Roboto-Light';
	src: font-url('Roboto/Roboto-Light.eot');
	src: font-url('Roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'), font-url('Roboto/Roboto-Light.woff2') format('woff2'),
		font-url('Roboto/Roboto-Light.woff') format('woff'), font-url('Roboto/Roboto-Light.ttf') format('truetype'),
		font-url('Roboto/Roboto-Light.svg#Roboto-Light') format('svg');
}

html,
body {
	position: relative;
	width: 100%;
}
body {
	background: #f8f9fa;
	margin: 0;
}
.row {
	margin: 0;
}

.card {
	position: relative;
	padding: 16px;
	border-radius: 4px;
	background: #fff;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}
