.moviePreviewContainer {
	display: block;
	width: 200px;
	margin: 8px;
	cursor: pointer;
}

.moviePreviewContainer .movieTitleContainer {
	margin-top: 8px;
}
.moviePreviewContainer .priceInPictureContainer {
	position: relative;
}

.moviePreviewContainer .priceInPictureContainer .movieRentPriceContainer {
	position: absolute;
	bottom: 6px;
	right: 6px;
	z-index: 1;
}
